#  Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*

# .tfvars files
# *.tfvars normally this would be ignored but for the sake of the demo we commit it

# vscode files
.vscode/
